<!-- Header End -->
<% include ../layout/header.ejs %>

<br>
<br>
<main class="container">



  <div class="left-column">
    <a rel="position: 'inside' , showTitle: false, adjustX:-4, adjustY:-4" class="thumbnail cloud-zoom"
      href="upload/<%= data.img%>">
      <img src="upload/<%= data.img%>" alt="" title="">
    </a>
  </div>


  <!-- Right Column -->
  <div class="right-column">

    <!-- Product Description -->
    <div class="product-description">
      <span>
        <h2>Homestay</h2>
      </span>
      <h3><%= data.name%> </h3>
      <br>
      <h3><%= data.kindId%></h3>
      <br>
      <h3><%= data.address%></h3>
      <br>
      <h4>
        <%= data.des%>
      </h4>
    </div>

    <br>

    <!-- Product Configuration -->
    <div class="product-configuration">
      <div class="product-price">
        <span><%= data.price%>$</span>
        <a class="cart-btn" href="/add-cart.<%= data._id %>">Book Now</a>
      </div>
      <div class="row mb-4">
        <div class="col-md-12">

          <h4 class="border-bottom pb-2">Comments</h4>
        </div>
        <div class="col-md-12">
          <div class="form-grop">
            <label for="">Write A Comment</label>
            <textarea id="textarea" rows="3" class="form-control"></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button id="submitBtn" class="btn btn-primary float-right">Post Comment</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="comment__box"></ul>
      </div>
    </div>
  </div>
  </div>

</main>
<section id="related" class="row">
  
  <div class="container">
    <h3><span class="">Sản Phẩm Khác</span></h3>
    <div class="latest-products">
      <div class="container">
        <div class="row">
          <%  product.forEach(function(pro){  %>
          <div class="col-md-4">

            <div class="product-item">
              <div class="thumbnail">
                <a href="/chi-tiet/<%= pro.nameKhongDau%>.<%= pro._id%>.<%= pro.placeId%>.html"><img
                    src="upload/<%= pro.img %>" alt="" height="300" width="300"></a>

                <h4 class="cangiua"><%= pro.name %></h4>
                <div class="down-content">
                  </a>
                  <h6>$<%= pro.price %></h6>
                  <p><%= pro.des %></p>
                  <a href="/add-cart.<%= pro._id %>" class="">BOOK NOW
                  </a>
                  <ul class="stars">
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                    <li><i class="fa fa-star"></i></li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
          <% })%>
        </div>
      </div>
    </div>
  </div>
</section>




<br>
<br>
<br> <br>
<br>
<br> <br>
<br>
<br>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
<script src="js/app.js"></script>

<!-- Footer -->

<% include ../layout/footer.ejs %>






<style>
  /* Basic Styling */


  .container {

    margin: 0 auto;

    display: flex;
  }

  /* Columns */
  .left-column {
    width: 900px;
    position: relative;
  }

  .right-column {
    width: 500px;
    margin-top: 60px;
  }


  /* Left Column */
  .left-column img {
    width: 680px;
    height: 500px;

    transition: all 0.3s ease;

  }

  .left-column img.active {
    opacity: 1;
  }


  /* Right Column */

  /* Product Description */
  .product-description {
    border-bottom: 1px solid #E1E8EE;
    margin-bottom: 20px;
  }

  .product-description span {
    font-size: 12px;
    color: #358ED7;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .product-description h1 {
    font-weight: 300;
    font-size: 52px;
    color: #43484D;
    letter-spacing: -2px;
  }

  .product-description p {
    font-size: 16px;
    font-weight: 300;
    color: #86939E;
    line-height: 24px;
  }

  /* Product Price */
  .product-price {
    display: flex;
    align-items: center;
  }

  .product-price span {
    font-size: 26px;
    font-weight: 300;
    color: #43474D;
    margin-right: 20px;
  }

  .cart-btn {
    display: inline-block;
    background-color: #7DC855;
    border-radius: 6px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
  }

  .cart-btn:hover {
    background-color: #64af3d;
  }

  /* Responsive */
  @media (max-width: 940px) {
    .container {
      flex-direction: column;
      margin-top: 60px;
    }

    .left-column,
    .right-column {
      width: 100%;
    }

    .left-column img {
      width: 300px;
      right: 0;
      top: -65px;
      left: initial;
    }
  }

  @media (max-width: 535px) {
    .left-column img {
      width: 220px;
      top: -85px;
    }
  }
</style>